[mysqld]
# 서버의 기본 문자 세트를 UTF-8로 설정
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

#skip-networking = 0
#bind-address = 0.0.0.0

[client]
# 클라이언트의 기본 문자 세트를 UTF-8로 설정
default-character-set=utf8mb4

[mysql]
# MySQL 명령줄 클라이언트의 기본 문자 세트를 UTF-8로 설정
default-character-set=utf8mb4

[client]
# 클라이언트의 기본 문자 세트를 UTF-8로 설정
default-character-set=utf8mb4
